.navbar {
    position: sticky;
    top: 0;
    left: 0;
    border: solid;
    border-color: ghostwhite;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }